html,body{ 
  height: 100%; 
  margin: 0; 
  padding: 0; 
}

div.content, div.tile{
  width: 100%;
  height: 100%;
  min-height: 100%;
}

div.content{
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

div.content h1{
  color: #666;
}

.hidden{
  display: none;
}

.shown{
  display: block;
}

div.tileWrapper{
  position: absolute;
  width: 98%;
  height: 98%;
  padding: 2%;
  top: 0;
  left: 0;
/*  background: white;
  border: 1px solid red;*/
}

div.tile{
  position: relative;
  height: 10px;
  width: 98%;
  min-height: 98%;
  margin: 0;
  border: 0;
  padding: 0;
  border-radius: 20px;
  font-size: 16px;
  line-height: 24px;
  z-index: 100;
  
	overflow:hidden;
}

div#experiment div.tile{
  background: gray;
  color: black;
}

div#settings div.tile{
  background: #00ccff;
}

div#help div.tile{
  background: #33cd34;
}

div#menu div.tile{
  background: #f8f701;
  text-align: center;
}

div#menu div.tile h1 {
  margin-bottom: 40px;
}

h1.title {
  width: 100%;
  background-color: inherit;
}

div#experiment div.tile a,
div#menu div.tile a {
  display: block;
  width: 100%;
  height: 30%;
  text-decoration: none;
  text-align: center;
}

div#back{
  position: absolute;
  top: -6%;
  left: 86%;
  background: #f8f701;
  border-radius: 10px;
}


div.tileWrapper{
  -webkit-transform: translate3d(0, 0, 0) rotateZ(0deg);
  -webkit-transform-origin: 98% 2%;
  -webkit-perspective: 1000;
  -webkit-transition-property: translate3d rotateZ;
  -webkit-transition-timing-function: ease-in-out;  
  z-index: 10;
}

div.tileWrapperHidden{
  -webkit-transform: translate3d(0, 0, 0) rotateZ(-90deg);   
}


div#back a{
  display: block;
  height: 100px;
  width: 100%;
}


div.tileInner{
  padding-right: 8%;
  padding-bottom: 100px;
  z-index:100;
}

div#theExperiment{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  background: #666;
  -webkit-transition-property: top;
  -webkit-transition-duration: 2s;
}

div#theExperiment.showExperiment{
  top: 0;
}

div#cardWrapper{
  height: 92%;
  width: 96%;
  top: 3%;
  left: 2%;
  padding: 1%;
  border-radius: 4px;
  background: black;
  overflow: hidden;
}

div.aCard{
  position: relative;
  float: left;
/*  height: 6%;
  width: 6%;
  margin-left: 1%;
  margin-top: 1%; */
}

div#colorReminder{
  position: relative;
  width: 80%;
  height: 40px;
  min-height: 50%;
  margin-left: 10%;
  border: 1px solid #666;
  border-radius: 16px;
}