
#frame {
	width: 600px;
	height: 400px;
	text-align: center;
}

.number {
	position:absolute;
	top: -50px;
	
	width: 100px;
	height: 100px;
}

#bignumber {
	position:absolute;
	left: 50%;
	top: 50%;
	z-index: 100;

	width: 100px;
	height: 500px;	
	
	font-size: 300px;
	color: #fff;
}